div {
  border: 1px solid blanchedalmond; }

#map {
  height: 100%; }

#map-container {
  height: 800px; }

* {
  box-sizing: border-box;
  font-family: 'Geneva', sans-serif;
  font-size: 14px; }

body {
  min-width: 360px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 24px;
  text-align: center; }

.button, button, input[type=submit] {
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #5F7278;
  -moz-box-shadow: 0 0 3px #5F7278;
  box-shadow: 0 0 3px #5F7278;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  cursor: pointer; }

button, input[type=submit] {
  border: none; }

button, input {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #0062A3;
  -moz-box-shadow: 0 0 1px #0062A3;
  box-shadow: 0 0 1px #0062A3; }
  button:active, input:active {
    outline: none; }
  button:focus, input:focus {
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px #44883D;
    -moz-box-shadow: 0 0 5px #44883D;
    box-shadow: 0 0 5px #44883D; }

nav {
  background-color: #EEEEEE;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  nav span {
    font-size: 34px;
    color: #0062A3;
    margin-left: 5px; }
  nav h1 {
    padding: 0;
    margin-top: 10px;
    font-size: 24px; }
  nav i {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px; }
  nav div {
    display: flex;
    align-items: flex-start; }

.dropdown {
  display: none; }
  .dropdown p {
    opacity: 0;
    cursor: pointer; }
    .dropdown p:nth-child(1) {
      animation-name: dropd;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    .dropdown p:nth-child(2) {
      animation-name: dropd;
      animation-duration: 800ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    .dropdown p:nth-child(3) {
      animation-name: dropd;
      animation-duration: 1200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    .dropdown p:nth-child(4) {
      animation-name: dropd;
      animation-duration: 1600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@keyframes dropd {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.active {
  display: block;
  position: absolute;
  top: 65px;
  right: 20px;
  z-index: 1; }
  .active p {
    margin: 0;
    padding: 30px;
    background-color: #1F4478;
    transition: 0.2s linear;
    color: white;
    transition: 0.2s linear; }
    .active p:hover {
      background-color: #EEEEEE;
      transition: 0.2s linear;
      color: #1F4478;
      transition: 0.2s linear; }

#landing-header {
  height: 100vh;
  min-height: 400px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between; }
  #landing-header p {
    color: #5F7278;
    width: 100%;
    text-align: center;
    align-self: center;
    letter-spacing: 2px; }
  #landing-header img {
    margin: 20px;
    width: 70px;
    height: 70px; }
  #landing-header span {
    width: 100%;
    display: block;
    font-size: 74px;
    color: #0062A3;
    line-height: 0.5; }
  #landing-header h1 {
    width: 100%;
    text-align: right;
    font-size: 64px;
    align-self: flex-end;
    margin: .4em .2em; }
  @media (min-width: 600px) {
    #landing-header {
      height: 50vh; } }

footer {
  text-align: center;
  color: #5F7278;
  background-color: #EEEEEE;
  font-size: 10px; }
  footer a {
    font-size: 10px;
    text-decoration: none;
    color: #0062A3; }

.welcomebutton, .edit-list-btn, #new-roadtrip-form p {
  color: #0062A3;
  transition: 0.5s linear;
  cursor: pointer; }
  .welcomebutton:hover, .edit-list-btn:hover, #new-roadtrip-form p:hover {
    color: #44883D;
    transition: 0.5s linear; }

.landing-input-container {
  min-height: 400px;
  height: 100vh;
  background-color: #EEEEEE;
  padding-top: 16em; }
  @media (min-width: 600px) {
    .landing-input-container {
      padding-top: 6em; } }
  @media (min-width: 600px) {
    .landing-input-container {
      height: 50vh; } }

.cleansmallform *, .landing-input-container div *, #new-roadtrip-form *, .profile * form * {
  margin: 1em auto;
  text-align: center; }
.cleansmallform p, .landing-input-container div p, #new-roadtrip-form p, .profile * form p {
  margin: 1em auto; }
.cleansmallform input[type=text], .landing-input-container div input[type=text], #new-roadtrip-form input[type=text], .profile * form input[type=text], .cleansmallform input[type=password], .landing-input-container div input[type=password], #new-roadtrip-form input[type=password], .profile * form input[type=password] {
  padding: .5em; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #5F7278;
  -moz-box-shadow: 0 0 2px #5F7278;
  box-shadow: 0 0 2px #5F7278;
  padding: 5px;
  width: 360px;
  margin: 0 auto; }
  @media (min-width: 600px) {
    .gallery {
      width: 530px; } }
  @media (min-width: 900px) {
    .gallery {
      width: 700px; } }
  @media (min-width: 1200px) {
    .gallery {
      width: 875px; } }

.thumbnail, #create-roadtrip-btn {
  background-color: #EEEEEE;
  color: #5F7278;
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 162px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 #EEEEEE;
  -moz-box-shadow: 0 0 0 #EEEEEE;
  box-shadow: 0 0 0 #EEEEEE; }
  .thumbnail div, #create-roadtrip-btn div {
    width: 150; }
  .thumbnail h3, #create-roadtrip-btn h3 {
    font-size: 18px;
    margin: 0;
    padding: 0; }

.thumbnail-explore {
  display: flex;
  align-items: center; }
  .thumbnail-explore img {
    width: 30px;
    height: 30px; }
  .thumbnail-explore p {
    color: #0062A3;
    font-size: 10px;
    margin: 0 0 -5px 10px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer; }
  .thumbnail-explore p.delete {
    color: red; }

.edit-list-btn {
  text-align: center; }

#create-roadtrip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  #create-roadtrip-btn i {
    color: #5F7278;
    transition: 0.5s linear; }
    #create-roadtrip-btn i:hover {
      color: #44883D;
      transition: 0.5s linear; }

.profile > p, .profile * p {
  text-align: center; }

.profile * form {
  text-align: center; }

.profile * button, .profile * input[type=submit] {
  display: inline-block;
  margin: 0 auto; }

table {
  margin: 2em auto;
  padding: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #44883D;
  -moz-box-shadow: 0 0 3px #44883D;
  box-shadow: 0 0 3px #44883D; }
  table td:first-of-type {
    font-family: "Helvetica", sans-serif;
    color: #0062A3;
    font-size: 18px; }

.thumbnail * p, #create-roadtrip-btn * p {
  text-align: left; }

.map-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
