// =========== COLOR VARIABLES ==============
// Source: https://www.pantone.com/color-of-the-year-2017
              // Pantone Directoire Blue
              // Pantone True Blue
              // Pantone Golden Blue
              // Pantone Silver Blue
              // Pantone Online Lime
              // Pantone Greenery

$blue:        #0062A3
$darkblue:    #1F4478
$darkgrey:    #5F7278
$grey:        #5F7278
$medgreen:    #44883D
$green:       #44883D
$lightgrey:   #EEEEEE

// =========== FONT VARIABLES ==============

$font-stack:   'Helvetica', sans-serif
$font-size:    14px

// =========== MEDIA QUERY VARIABLES ==============
$bpsmall:     600px
$bpmed:       900px
$bplarge:     1200px

// =========== MIXINS ==============
=box($rad, $shade, $color)
  -webkit-border-radius:  $rad
  -moz-border-radius:     $rad
  -ms-border-radius:      $rad
  border-radius:          $rad
  -webkit-box-shadow:     0 0 $shade $color
  -moz-box-shadow:        0 0 $shade $color
  box-shadow:             0 0 $shade $color
=gradient($degrees, $col1, $col2)
  background: -webkit-linear-gradient($degrees, $col1, $col2)
  background: -o-linear-gradient($degrees, $col1, $col2)
  background: -moz-linear-gradient($degrees, $col1, $col2)
  background: linear-gradient($degrees, $col1, $col2)
=hoverbg($bg, $secs)
  background-color: $bg
  transition: $secs linear
=hovercolor($col, $secs)
  color: $col
  transition: $secs linear

// =breakpoint($point) ======= still testing =======
//   @if $point == mobileplus
//     media (min-width: 600px)
//       content
//   @else if $point == tabletplus
//     media (max-width: 900px)
//       content
//   @else if $point == laptopplus
//     media (max-width: 1200px)
//       content


// =========== STYLES ==============

div
  border: 1px solid blanchedalmond

// ^^^^^^^  STYLES FOR DEVELOPMENT ONLY ^^^^^^^


*
  box-sizing: border-box
  font-family: 'Geneva', sans-serif
  font-size: $font-size

body
  min-width: 350px

.button
  background-color: white
  border: none
  +box(3px, 3px, $grey)
  font-size: $font-size - 4
  text-transform: uppercase
  letter-spacing: 2px
  padding: 10px
  cursor: pointer

button, input[type=submit]
  @extend .button

button, input
  display: block
  +box(3px, 1px, $blue)
  &:active
    outline: none
  &:focus
    outline: none
    +box(3px, 5px, $green)

i
  cursor: pointer

.thumbnail
  h3:hover
    cursor: pointer
    color: blue

#map
  height: 100%

#map-container
  height: 800px

.dropdown
  display: none

.active
  display: block
  color: hotpink


.gallery
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.thumbnail
  background-color: $lightgrey
  margin: 5px
  padding: 5px
  width: 200px
  height: 200px

.formfields

.welcomebutton
  +hovercolor($blue, .5s)
  cursor: pointer
  &:hover
    +hovercolor($medgreen, .5s)

// ======== LANDING PAGE =========

#landing-header
  height: 100vh
  display: flex
  flex-wrap: wrap
  align-items: space-between
  p
    width: 100%
    text-align: center
    align-self: center
    letter-spacing: 2px
  img
    width: 80px
    height: 80px
  span
    width: 100%
    display: block
    font-size: $font-size + 60
    color: $blue
    line-height: 0.5
  h1
    width: 100%
    text-align: right
    font-size: $font-size + 50
    align-self: flex-end
    margin: .4em .2em

.landing-input-container
  height: 100vh
  background-color: $lightgrey
  p
    line-height: 2
    text-align: center
    margin: 10em 2em
  div
    @extend .cleansmallform

.cleansmallform
  *
    margin: 1em auto
    text-align: center
  p
    margin: 1em auto
  input[type=text]
    padding: .5em

footer
  text-align: center
  color: $darkgrey
  background-color: $lightgrey
  font-size: $font-size - 4
  a
    font-size: $font-size - 4
    text-decoration: none
    color: $blue
