
<!-- ========== DASHBOARD ========== -->

<h2>Dashboard</h2>

<div class="gallery">
  <div class="thumbnail" ng-repeat="roadtrip in dash.allRoadtrips">

    <div class="thumbnail-info">
      <h3>{{roadtrip.name}}</h3>
      <p>Created by: {{roadtrip.users[0].name}}</p>
    </div>
    <div class="thumbnail-explore">
      <img src="img/route.png" alt="Highway route sign">
      <p ng-click="main.clearCityInputFields();
                  main.selectedTrip = roadtrip.id;
                  main.view = 6;">Explore</p>

    </div>

  </div>

    <div id="create-roadtrip-btn" ng-click="main.view = 4;">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </div>

</div>

<!-- - - - - -  INCLUDE: Create Trip Form - - - - -  -->

<div ng-include="'partials/dashboard/createtrip.html'" ng-if="main.view === 4"></div>
