
<!-- ========== DASHBOARD ========== -->

<h2>My Roadtrips</h2>

  <button ng-click="main.view = 5;"
          ng-if="main.view === 3">
          Edit My List
  </button>

  <button ng-click="main.view = 3;"
          ng-if="main.view === 5">
          Finished Editing
  </button>

<div class="gallery">
  <div class="thumbnail" ng-repeat="roadtrip in dash.currentUserRoadtrips">

    <div class="thumbnail-info">
      <h3>{{roadtrip.name}}</h3>
      <p>{{roadtrip.description}}</p>
    </div>
    <div class="thumbnail-explore">
      <img src="img/route.png" alt="Highway route sign">
      <p ng-click="main.clearCityInputFields();
                  main.selectedTrip = roadtrip.id;
                  main.view = 6;"
                  ng-hide="main.view === 5;">Explore</p>


                  <!-- - - - - -  main.view === 5 displays Delete Button - - - - -  -->

                  <p type="button" ng-if="main.view === 5" ng-click="dash.deleteRoadtrip(roadtrip.id, $index);" class="delete">Delete</p>
    </div>

  </div>

  <div id="create-roadtrip-btn" ng-click="main.view = 4;">
    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
  </div>

</div>


<!-- - - - - -  INCLUDE: Create Trip Form - - - - -  -->

<div ng-if="main.view === 4" ng-include="'partials/dashboard/createtrip.html'"></div>
