
<!-- ========== DASHBOARD ========== -->

<h2>My Roadtrips</h2>

<div class="gallery">
  <div class="thumbnail" ng-repeat="roadtrip in dash.currentUserRoadtrips">

    <div class="thumbnail-info">
      <h3>{{roadtrip.name}}</h3>
      <p>{{roadtrip.description}}</p>
    </div>
    <div class="thumbnail-explore">
      <img src="img/route.png" alt="Highway route sign">
      <p ng-click="main.clearCityInputFields();
                  main.selectedTrip = roadtrip.id;
                  main.view = 6;"
                  ng-hide="main.view === 5;">Explore</p>

    </div>

  </div>

</div>
