
<!-- ========== LANDING PAGE ========== -->

<div id="landing-header">
  <div id="inner-landing-header">
    <img src="img/road.png" alt="Destination marker on a winding road">
    <p>Map the ultimate roadtrip</p>
    <h1><span id="open">Open</span> Highway</h1>
  </div>
</div>

<div class="landing-input-container">

    <!-- - - - - - INCLUDE: Login Form - - - - -  -->

    <div ng-if="main.view === 1" ng-include="'partials/landingpage/login.html'"></div>

    <!-- - - - - -  INCLUDE: Registration Form - - - - -  -->

    <div ng-if="main.view === 2" ng-include="'partials/landingpage/registration.html'"></div>

</div>

<!-- Footer -->
<footer>Created by
  <a href="https://github.com/edoorn" target="_blank">Ellen</a>,
  <a href="https://github.com/mark1ad" target="_blank">Mark</a>, &
  <a href="https://github.com/dnialwill" target="_blank">Dylan</a> for General Assembly's WDIR-Hopper. Icons made by
  <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from
  <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
  Powered by
  <a href="https://developers.google.com/maps/" target="_blank">Google Maps API</a>.
</footer>
