
<!-- ========== NAVIGATION ========== -->
<!-- - - - - -  included in all views except landing page - - - - -  -->
  <div>
    <img src="img/road.png" alt="Destination marker on a winding road">
    <h1><span>Open</span> Highway</h1>
  </div>

  <i class="fa fa-bars" aria-hidden="true" id="hamburger" ng-click="main.isDropdownActive = !main.isDropdownActive; main.testHamburger();"></i>

<div class="dropdown" ng-class="{ 'active' : main.isDropdownActive }">
  <p ng-click="main.view = 3; main.isDropdownActive = false; main.clearCityInputFields();">My Roadtrips</p>
  <p ng-click="main.view = 4; main.isDropdownActive = false; main.clearCityInputFields();">Create a Roadtrip</p>
  <p ng-click="main.view = 1; main.isDropdownActive = false; main.clearCityInputFields();">Log Out</p>
</div>
