<!-- ========== ADD A CITY INPUT ========== -->

<!-- <p>Add a city</p>

<i  class="fa fa-plus"
    aria-hidden="true"
    ng-click="main.addCityInputField();
    main.arrCityInputFields();">
</i>

<div class="city-input" ng-repeat="city in main.cityInputFields">

  <input type="text" class="city-input">
  <i  class="fa fa-times"
      aria-hidden="true"
      ng-click="main.closeCityInputField($index); main.arrCityInputFields();"
      ng-show="$index > 0">
  </i>

</div> -->

<h3>Add a City</h3>

<form ng-submit="trip.addCity()">
  <input type="text" class="city-input" ng-model="trip.cityToAdd.location">
  <i class="fa fa-plus"
     aria-hidden="true"
     ng-click="trip.addCity()">
  </i>
</form>
