
<!-- ========== EDIT FORM ========== -->

  <h2>Edit My Profile</h2>

  <form ng-submit="profile.updateCurrentUser(); main.view = 9;">
    <input type="text" placeholder="New Username" ng-model="profile.editDataUserName">
    <input type="text" placeholder="New Password" ng-model="profile.editDataUserPass">
    <input type="submit" value="Save">
  <button ng-click="profile.getCurrentUser(); profile.editDataUserName = ''; profile.editDataUserPass = ''; main.view = 9;">Close</button>
  </form>

  <!-- ========== DELETE BUTTON ========== -->

  <h2>Delete My Profile</h2>
  <p>Are you sure? This action cannot be undone.</p>
  <form>
    <button ng-click="profile.deleteUser(); main.view = 2;" id="hover-red">Delete</button>
  </form>
