
<!-- ========== PROFILE ========== -->

<h2>My Roadtrips</h2>

<div class="gallery">

  <!-- - - - - -  First thumbnail: - - - - -  -->

  <div class="thumbnail map-thumbnail">
    <img src="img/map.png">
  </div>

  <div class="thumbnail" ng-repeat="roadtrip in profile.currentUserRoadtrips">

    <div class="thumbnail-info">
      <h3>{{roadtrip.name}}</h3>
      <p>{{roadtrip.description}}</p>
    </div>
    <div class="thumbnail-explore">
      <img src="img/route.png" alt="Highway route sign">
      <p ng-click="main.clearCityInputFields();
                  main.selectedTrip = roadtrip.id;
                  main.view = 6;"
                  ng-if="main.view === 9 || main.view === 10">Explore</p>

                  <!-- - - - - -  main.view === 5 displays Delete Button - - - - -  -->

                  <p ng-if="main.view === 11" type="button" ng-click="profile.deleteRoadtrip(roadtrip.id, $index);" class="delete">Delete</p>
    </div>
  </div>

</div>

<table>
  <tr>
    <td>Username:</td>
    <td>{{profile.currentUser.name}}</td>
  </tr>
</table>



<!-- - - - - -  Show / Hide the Editing View - - - - -  -->

  <p ng-click="main.view = 11;"
        class="edit-list-btn"
        ng-if="main.view === 9">
        Delete A Roadtrip
  </p>

  <p ng-click="main.view = 9;"
        class="edit-list-btn"
        ng-if="main.view === 11">
        Finished Deleting
  </p>


<p ng-click="main.view = 10;" ng-if="main.view === 9;" class="welcomebutton">Edit My Profile Info</p>

<!-- - - - - - main.view === 10: INCLUDE edit user profile - - - - -  -->

<div ng-if="main.view === 10;" ng-include="'partials/profile/edituserprofile.html'"></div>
