
<!-- ========== PROFILE ========== -->

<h2>My Roadtrips</h2>

<div class="gallery">
  <div class="thumbnail" ng-repeat="roadtrip in profile.currentUser.roadtrips">

    <div class="thumbnail-info">
      <h3>{{roadtrip.name}}</h3>
      <p>{{roadtrip.description}}</p>
    </div>
    <div class="thumbnail-explore">
      <img src="img/route.png" alt="Highway route sign">
      <p ng-click="main.clearCityInputFields();
                  main.selectedTrip = roadtrip.id;
                  main.view = 6;">Explore</p>

                  <!-- - - - - -  main.view === 5 displays Delete Button - - - - -  -->

                  <p type="button" ng-click="dash.deleteRoadtrip(roadtrip.id, $index);" class="delete">Delete</p>
    </div>
  </div>

  <div id="create-roadtrip-btn">
    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
  </div>

</div>

<table>
  <tr>
    <td>Username:</td>
    <td>{{profile.currentUser.name}}</td>
  </tr>
</table>



<!-- - - - - -  Show / Hide the Editing View - - - - -  -->

  <p ng-click="main.view = 5;"
        class="edit-list-btn">
        Edit My List
  </p>

  <p ng-click="main.view = 3;"
        class="edit-list-btn">
        Finished Editing
  </p>


<!-- - - - - -  INCLUDE: Create Trip Form - - - - -  -->

<div ng-include="'partials/dashboard/createtrip.html'"></div>

<p ng-click="main.view = 10;" ng-if="main.view === 9;" class="welcomebutton">Edit My Profile Info</p>

<!-- - - - - - main.view === 10: INCLUDE edit user profile - - - - -  -->

<div ng-if="main.view === 10;" ng-include="'partials/profile/edituserprofile.html'"></div>
